Repository e7h4nw4n9/english-in-use: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, rustfmt --edition 2021

feat: 升级rust edition
  .lintstagedrc
  src-tauri/Cargo.toml
  src-tauri/rustfmt.toml
  src-tauri/src/db.rs
Due: rustfmt --edition 2021

feat: 增加books信息查询，以及单元测试、代码重构
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/migrations/0.1.0/_app_meta.sql
  src-tauri/migrations/0.1.0/books.sql
  src-tauri/migrations/0.1.0/up.sql
  src-tauri/src/commands.rs
  src-tauri/src/commands/books.rs
  src-tauri/src/commands/config.rs
  src-tauri/src/commands/db.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/r2.rs
  src-tauri/src/commands/system.rs
  src-tauri/src/config.rs
  src-tauri/src/database/d1.rs
  src-tauri/src/database/migrations.rs
  src-tauri/src/database/mod.rs
  src-tauri/src/database/sqlite.rs
  src-tauri/src/db.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/book.rs
  src-tauri/src/models/book_group.rs
  src-tauri/src/models/config.rs
  src-tauri/src/models/mod.rs
  src-tauri/src/models/status.rs
  src-tauri/src/r2.rs
  src-tauri/src/services/config.rs
  src-tauri/src/services/mod.rs
  src-tauri/src/services/status.rs
  src-tauri/src/status.rs
  src-tauri/src/utils/mod.rs
  src-tauri/src/utils/r2.rs
  src/types.ts
Due: prettier --write, rustfmt --edition 2021

refactor:前端UI组件重构
  components.json
  package.json
  pnpm-lock.yaml
  src/App.vue
  src/components/AppFooter.vue
  src/components/AppHeader.vue
  src/components/ConfigPage.vue
  src/components/config/BookSourceSettings.vue
  src/components/config/DatabaseSettings.vue
  src/components/config/SystemSettings.vue
  src/components/ui/button/Button.vue
  src/components/ui/button/index.ts
  src/index.css
  src/lib/api/config.ts
  src/lib/api/database.ts
  src/lib/api/index.ts
  src/lib/api/system.ts
  src/lib/utils.ts
  src/main.ts
  src/stores/app.ts
  tsconfig.json
  vite.config.ts
Due: prettier --write

refactor: 删除Shadcn-vue的使用
  components.json
  package.json
  pnpm-lock.yaml
  src/components/ui/button/Button.vue
  src/components/ui/button/index.ts
  src/index.css
  src/lib/utils.ts
  src/main.ts
Due: prettier --write

feat: 增加书籍列表功能
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/books.rs
  src-tauri/src/commands/db.rs
  src-tauri/src/lib.rs
  src-tauri/src/utils/local.rs
  src-tauri/src/utils/mod.rs
  src-tauri/src/utils/r2.rs
  src/App.vue
  src/components/BookList.vue
  src/index.css
  src/lib/api/books.ts
  src/lib/api/index.ts
  src/locales/en.json
  src/locales/zh.json
  src/main.ts
Due: prettier --write, rustfmt --edition 2021

feat: 书籍列表API增加缓存
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/books.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/book_group.rs
  src-tauri/src/utils/cache.rs
  src-tauri/src/utils/mod.rs
Due: rustfmt --edition 2021

refactor: 调整数据库迁移操作
  src-tauri/migrations/0.1.0/down/down.sql
  src-tauri/migrations/0.1.0/up/_app_meta.sql
  src-tauri/migrations/0.1.0/up/books.sql
  src-tauri/src/commands/db.rs
  src-tauri/src/database/migrations.rs
  src-tauri/src/database/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/db_init.rs
  src-tauri/src/services/mod.rs
  src/App.vue
  src/components/BookList.vue
  src/components/config/SystemSettings.vue
  src/lib/api/database.ts
  src/locales/en.json
  src/locales/zh.json
  src/stores/app.ts
Due: prettier --write, rustfmt --edition 2021

test: 增加前后端的单元测试
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/books.rs
  src-tauri/src/commands/config.rs
  src-tauri/src/commands/db.rs
  src-tauri/src/commands/r2.rs
  src-tauri/src/database/mod.rs
  src-tauri/src/database/sqlite.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/config.rs
  src-tauri/src/services/config.rs
  src-tauri/src/services/db_init.rs
  src-tauri/src/services/status.rs
  src-tauri/src/utils/cache.rs
  src-tauri/src/utils/local.rs
  src-tauri/src/utils/r2.rs
  src/__tests__/i18n.spec.ts
  src/components/BookList.vue
  src/components/__tests__/AppFooter.spec.ts
  src/components/__tests__/AppHeader.spec.ts
  src/components/__tests__/BookList.spec.ts
  src/components/__tests__/ConfigPage.spec.ts
  src/components/config/__tests__/BookSourceSettings.spec.ts
  src/components/config/__tests__/DatabaseSettings.spec.ts
  src/components/config/__tests__/SystemSettings.spec.ts
  src/composables/__tests__/useTheme.spec.ts
  src/stores/__tests__/app.spec.ts
  vite.config.ts
Due: prettier --write, rustfmt --edition 2021

test:增加前后端集成测试
  package.json
  pnpm-lock.yaml
  src-tauri/Cargo.toml
  src-tauri/src/commands/books.rs
  src-tauri/src/commands/db.rs
  src-tauri/src/database/mod.rs
  src-tauri/src/services/db_init.rs
  src/App.vue
  src/__tests__/AppFlow.spec.ts
  src/components/__tests__/ConfigPage.spec.ts
  src/components/config/__tests__/BookSourceSettings.spec.ts
  src/components/config/__tests__/DatabaseSettings.spec.ts
  src/components/config/__tests__/SystemSettings.spec.ts
Due: prettier --write, rustfmt --edition 2021

chroe: gitignore文件修改
  .gitignore
  README.md
Due: prettier --write

feat: 新增debug模式开关，以及编译选项
  package.json
  src-tauri/src/commands/config.rs
  src-tauri/src/models/config.rs
  src/App.vue
  src/components/AppHeader.vue
  src/components/ConfigPage.vue
  src/components/ReaderView.vue
  src/components/__tests__/AppHeader.spec.ts
  src/components/__tests__/ConfigPage.spec.ts
  src/components/__tests__/ReaderView.spec.ts
  src/components/config/SystemSettings.vue
  src/components/config/__tests__/SystemSettings.spec.ts
  src/components/reader/ReaderExerciseModal.vue
  src/locales/en.json
  src/locales/zh.json
  src/types.ts
  src/vite-env.d.ts
  vite.config.ts
Due: prettier --write, rustfmt --edition 2021

feat: 优化练习弹窗适配逻辑与桌面窗口尺寸约束
  src-tauri/src/commands/system.rs
  src-tauri/src/lib.rs
  src-tauri/tauri.conf.json
  src/components/reader/ReaderExerciseModal.vue
  src/components/reader/__tests__/ReaderExerciseModal.spec.ts
  src/lib/api/system.ts
Due: prettier --write, rustfmt --edition 2021

feat: 增加学习计划功能
  src-tauri/migrations/0.2.0/down/down.sql
  src-tauri/migrations/0.2.0/up/study_plan.sql
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/study_plan.rs
  src-tauri/src/database/migrations.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/mod.rs
  src-tauri/src/services/study_plan.rs
  src/App.vue
  src/components/AppHeader.vue
  src/components/BookList.vue
  src/components/ReaderView.vue
  src/components/reader/ReaderFooter.vue
  src/components/reader/__tests__/ReaderFooter.spec.ts
  src/components/study-plan/DailyTaskPanel.vue
  src/components/study-plan/StudyPlanPage.vue
  src/components/study-plan/taskGroups.ts
  src/composables/reader/__tests__/useReaderTocContext.spec.ts
  src/composables/reader/useReaderProgress.ts
  src/composables/reader/useReaderTocContext.ts
  src/lib/api/index.ts
  src/lib/api/studyPlan.ts
  src/locales/en.json
  src/locales/zh.json
  src/stores/reader.ts
  src/types.ts
Due: prettier --write, rustfmt --edition 2021

feat: 新增学习计时统计功能
  src-tauri/migrations/0.3.0/down/down.sql
  src-tauri/migrations/0.3.0/up/study_sessions.sql
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/study_session.rs
  src-tauri/src/database/migrations.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/config.rs
  src-tauri/src/services/db_init.rs
  src-tauri/src/services/mod.rs
  src-tauri/src/services/study_session.rs
  src/App.vue
  src/__tests__/AppFlow.spec.ts
  src/components/ConfigPage.vue
  src/components/ReaderView.vue
  src/components/__tests__/ConfigPage.spec.ts
  src/components/__tests__/ReaderView.spec.ts
  src/components/config/SystemSettings.vue
  src/components/config/__tests__/SystemSettings.spec.ts
  src/components/reader/ReaderFooter.vue
  src/components/reader/ReaderStudyTimerFloat.vue
  src/components/reader/__tests__/ReaderFooter.spec.ts
  src/components/reader/__tests__/ReaderStudyTimerFloat.spec.ts
  src/components/study-stats/StudyStatsPage.vue
  src/composables/reader/__tests__/useStudyTimer.spec.ts
  src/composables/reader/useStudyTimer.ts
  src/lib/api/database.ts
  src/lib/api/index.ts
  src/lib/api/studyTimer.ts
  src/locales/en.json
  src/locales/zh.json
  src/stores/app.ts
  src/types.ts
Due: prettier --write, rustfmt --edition 2021

fix: 主页书籍列表、学习计划/统计组件宽度超过父组件100%修改
  src-tauri/src/services/db_init.rs
  src-tauri/src/services/study_plan.rs
  src/App.vue
  src/components/BookList.vue
  src/components/study-plan/DailyTaskPanel.vue
  src/components/study-plan/StudyPlanPage.vue
  src/components/study-stats/StudyStatsPage.vue
  src/lib/__tests__/datetime.spec.ts
  src/lib/datetime.ts
Due: prettier --write, rustfmt --edition 2021

refactor: UI优化，深色模式配色修改
  src-tauri/src/commands/study_session.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/study_session.rs
  src/App.vue
  src/components/BookList.vue
  src/components/ConfigPage.vue
  src/components/ReaderView.vue
  src/components/__tests__/ReaderView.spec.ts
  src/components/common/loading/AppLoading.vue
  src/components/reader/ReaderCanvas.vue
  src/components/reader/ReaderFooter.vue
  src/components/reader/ReaderStudyTimerFloat.vue
  src/components/reader/__tests__/ReaderCanvas.spec.ts
  src/components/study-plan/DailyTaskPanel.vue
  src/components/study-plan/StudyPlanPage.vue
  src/components/study-stats/StudyStatsPage.vue
  src/lib/api/studyTimer.ts
  src/lib/datetime.ts
  src/locales/en.json
  src/locales/zh.json
Due: prettier --write, rustfmt --edition 2021

feat: 支持调整学习计划和维护学习记录
  src-tauri/src/commands/study_plan.rs
  src-tauri/src/commands/study_session.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/study_plan/tasks.rs
  src-tauri/src/services/study_plan/tests.rs
  src-tauri/src/services/study_plan/types.rs
  src-tauri/src/services/study_session.rs
  src-tauri/src/services/study_session/mutate.rs
  src-tauri/src/services/study_session/tests.rs
  src-tauri/src/services/study_session/types.rs
  src/components/study-plan/DailyTaskPanel.vue
  src/components/study-plan/ShiftStudyPlanModal.vue
  src/components/study-plan/StudyPlanPage.vue
  src/components/study-plan/__tests__/DailyTaskPanel.spec.ts
  src/components/study-plan/__tests__/StudyPlanPage.spec.ts
  src/components/study-stats/StudySessionEditModal.vue
  src/components/study-stats/StudyStatsDetailModal.vue
  src/components/study-stats/StudyStatsPage.vue
  src/components/study-stats/__tests__/StudySessionEditModal.spec.ts
  src/components/study-stats/__tests__/StudyStatsDetailModal.spec.ts
  src/components/study-stats/__tests__/StudyStatsPage.spec.ts
  src/composables/study-plan/useStudyPlanPage.ts
  src/index.css
  src/lib/api/__tests__/studyPlan.spec.ts
  src/lib/api/__tests__/studyTimer.spec.ts
  src/lib/api/studyPlan.ts
  src/lib/api/studyTimer.ts
  src/locales/en.json
  src/locales/zh.json
  src/types.ts
Due: prettier --write, rustfmt --edition 2021

feat: 阅读器支持OCR识别、选中单词、并支持复制、查询单词释义操作
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/build.rs
  src-tauri/native/apple/reader_ocr.m
  src-tauri/native/apple/tests/reader_ocr_smoke.m
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/reader_ocr.rs
  src-tauri/src/lib.rs
  src-tauri/src/services/mod.rs
  src-tauri/src/services/reader_ocr.rs
  src-tauri/tauri.conf.json
  src/components/ReaderView.vue
  src/components/dictionary/DictionaryEntryView.vue
  src/components/dictionary/DictionaryLoginModal.vue
  src/components/dictionary/DictionaryLookup.vue
  src/components/dictionary/__tests__/DictionaryEntryView.spec.ts
  src/components/dictionary/__tests__/DictionaryLoginModal.spec.ts
  src/components/dictionary/__tests__/DictionaryLookup.spec.ts
  src/components/reader/ReaderCanvas.vue
  src/components/reader/ReaderDictionaryDialog.vue
  src/components/reader/ReaderWordSelection.vue
  src/components/reader/__tests__/ReaderWordSelection.spec.ts
  src/composables/reader/__tests__/useReaderShortcuts.spec.ts
  src/composables/reader/useReaderShortcuts.ts
  src/composables/useReaderAudio.ts
  src/lib/api/__tests__/readerOcr.spec.ts
  src/lib/api/readerOcr.ts
Due: prettier --write, rustfmt --edition 2021

feat: 完善阅读学习状态与 iOS 开发支持
  README.md
  package.json
  pnpm-lock.yaml
  src-tauri/src/commands/study_plan.rs
  src-tauri/src/lib.rs
  src-tauri/src/models/config.rs
  src-tauri/src/services/study_plan/plan.rs
  src-tauri/src/services/study_plan/tests.rs
  src-tauri/src/services/study_plan/types.rs
  src/components/ConfigPage.vue
  src/components/ReaderView.vue
  src/components/config/SystemSettings.vue
  src/components/config/__tests__/SystemSettings.spec.ts
  src/components/reader/ReaderFooter.vue
  src/components/reader/ReaderTOC.vue
  src/components/reader/ReaderTocStatusIcon.vue
  src/components/reader/__tests__/ReaderTOC.spec.ts
  src/composables/config/configPageContext.ts
  src/composables/config/useConfigPersistenceOperations.ts
  src/composables/reader/__tests__/useReaderStudyPlanStatuses.spec.ts
  src/composables/reader/__tests__/useStudyTimer.spec.ts
  src/composables/reader/useReaderStudyPlanStatuses.ts
  src/composables/reader/useStudyTimer.ts
  src/lib/api/__tests__/studyPlan.spec.ts
  src/lib/api/studyPlan.ts
  src/locales/en.json
  src/locales/zh.json
  src/types.ts
Due: prettier --write, rustfmt --edition 2021

Path conditions:
  prettier --write: any of: *.{js,ts,vue,json,md}
  rustfmt --edition 2021: any of: src-tauri/**/*.rs
